    h1 {
        text-align: center;
        color: red;
        position: relative;
        bottom: 300px;
        font-size: 100px;
        left: 80px;
    }
    
    h2 {
        text-align: center;
        position: relative;
        bottom: 380px;
        left: 200px;
        font-size: 30px;
        color: blue;
    }
    
    #nav {
        padding: 0;
        margin: 2;
        text-align: center;
        bottom: 300px;
        position: relative;
        margin: 30px auto;
    }
    
    #nav li {
        display: inline;
        list-style: none;
        margin: 2.5em 0;
        border: 1px solid #333;
        border-top-color: #707070;
        background-color: gray;
        text-decoration: cornsilk;
    }
    
    #nav a {
        display: inline-block;
        margin: 0 30px;
        text-decoration: cornsilk;
    }
    
    #onglets {
        font: bold 11px Batang, arial, serif;
        list-style-type: none;
        padding-bottom: 24px;
        border-bottom: 1px solid black;
        border: 2px solid #9EA0A1;
        margin: 2px 2px 0 2px;
        height: 10px;
        bottom: 300px;
        position: relative;
        border: solid;
        background-color: bisque;
        font-size: 30px;
    }
    
    #i1 {
        height: 300px;
    }
    
    #i2 {
        height: 300px;
    }
    
    #i3 {
        height: 300px;
    }
    
    body {
        background-color: beige
    }
    
    #logo1 {
        height: 250px;
    }
    
    #item1 {
        bottom: 280px;
        position: relative;
    }
    
    h5 {
        bottom: 650px;
        position: relative;
        font-size: 20px;
    }
    
    p3 {
        bottom: 650px;
        position: relative;
    }
    
    h4 {
        bottom: 650px;
        position: relative;
        font-size: 20px;
    }
    
    p2 {
        bottom: 650px;
        position: relative;
    }
    
    h3 {
        bottom: 620px;
        position: relative;
        font-size: 20px;
    }
    
    p1 {
        bottom: 600px;
        position: relative;
    }